@model EcommerceMVC.Models.DTO.Customer.CustomerResponseModel
 <h1>Customer Wallet</h1>
<form asp-action="Fundwallet">
   

<div>
    <h4>Wallet</h4>
  
                <div class="form-group">
                    <label asp-for="Data.Balance" class="control-label"></label>
                    <input asp-for="Data.Balance"type="text" class="form-control" />
                    <span asp-validation-for="Data.Balance" class="text-danger"></span>
                </div>
</div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>

</form>

